*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}


ul li.active a{
	background-color: #fff;
    color: #000;
}

.logo img{
	float: left;
	width: 100px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%,-50%);
	border: 1px solid black;
	background-color: transparent;
	background: transparent;
	flex-wrap: wrap;
}

.title h1{
	color: white;
	font-size: 50px;
	background-color: transparent;

}

.title h2{
	color: white;
	font-size: 24px;
	left: 20%;
	background-color: transparent;
    text-align: right;
}


.button{
	position: absolute;
	top: 62%;
	left: 50%;
	color: green;
	transform: translate(-50%,-50%);
}
